In [23]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('pcr_positive_daily (2).csv')

In [25]:
df

            日付  PCR 検査陽性者数(単日)  Unnamed: 2 Unnamed: 3
0    2020/1/16               1         NaN        NaN
1    2020/1/17               0         NaN        NaN
2    2020/1/18               0         NaN        NaN
3    2020/1/19               0         NaN        NaN
4    2020/1/20               0         NaN        NaN
..         ...             ...         ...        ...
464  2021/4/24            5433         NaN        NaN
465  2021/4/25            4434         NaN        NaN
466  2021/4/26            3303         NaN        NaN
467  2021/4/27            4958         NaN        NaN
468  2021/4/28            5788         NaN        NaN

[469 rows x 4 columns]

In [26]:
del df['Unnamed: 2']
del df['Unnamed: 3']

In [27]:
df.head()

          日付  PCR 検査陽性者数(単日)
0  2020/1/16               1
1  2020/1/17               0
2  2020/1/18               0
3  2020/1/19               0
4  2020/1/20               0

In [34]:
df['3日間の平均'] = df.rolling(window=3).mean()

In [35]:
df

            日付  PCR 検査陽性者数(単日)       3日間の平均
0    2020/1/16               1          NaN
1    2020/1/17               0          NaN
2    2020/1/18               0     0.333333
3    2020/1/19               0     0.000000
4    2020/1/20               0     0.000000
..         ...             ...          ...
464  2021/4/24            5433  5326.333333
465  2021/4/25            4434  4987.000000
466  2021/4/26            3303  4390.000000
467  2021/4/27            4958  4231.666667
468  2021/4/28            5788  4683.000000

[469 rows x 3 columns]

In [41]:
df = df.dropna()

In [42]:
df

            日付  PCR 検査陽性者数(単日)       3日間の平均
2    2020/1/18               0     0.333333
3    2020/1/19               0     0.000000
4    2020/1/20               0     0.000000
5    2020/1/21               0     0.000000
6    2020/1/22               0     0.000000
..         ...             ...          ...
464  2021/4/24            5433  5326.333333
465  2021/4/25            4434  4987.000000
466  2021/4/26            3303  4390.000000
467  2021/4/27            4958  4231.666667
468  2021/4/28            5788  4683.000000

[467 rows x 3 columns]

In [46]:
for i in df.iterrows():
    y = i[1]['PCR 検査陽性者数(単日)']
    x = i[1]['3日間の平均']
    print(x,y)

0.3333333333333333 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.3333333333333333 1
0.6666666666666666 1
1.0 1
0.6666666666666666 0
1.3333333333333333 3
1.3333333333333333 1
2.3333333333333335 3
1.6666666666666667 1
1.3333333333333333 0
0.3333333333333333 0
0.0 0
0.6666666666666666 2
1.3333333333333333 2
1.3333333333333333 0
0.6666666666666666 0
0.0 0
0.0 0
0.0 0
0.0 0
0.3333333333333333 1
1.6666666666666667 4
4.0 7
7.666666666666667 12
8.333333333333334 6
8.333333333333334 7
6.666666666666667 7
8.0 10
8.666666666666666 9
10.0 11
15.666666666666666 27
16.666666666666668 12
17.0 12
10.666666666666666 8
14.0 22
18.0 24
22.0 20
17.666666666666668 9
14.666666666666666 15
12.666666666666666 14
15.0 16
21.0 33
26.666666666666668 31
41.0 59
45.666666666666664 47
46.333333333333336 33
35.333333333333336 26
37.666666666666664 54
44.0 52
53.666666666666664 55
49.0 40
52.333333333333336 62
45.0 33
36.666666666666664 15
30.666666666666668 44
32.666666666666664 39
39.666666666666664 36
42.666666666666664 53
41.0 34
43.0 42
38.0 38
48.333333333333336 65
65.33333333333333 93
84.66666666666667 96
97.66666666666667 104
131.33333333333334 194
161.0 185
151.0 74
159.0 218
172.0 224
231.66666666666666 253
271.3333333333333 337
320.0 370
364.3333333333333 386
342.0 270
344.3333333333333 377
399.0 550
499.6666666666667 572
610.0 708
652.0 676
651.6666666666666 571
526.6666666666666 333
471.6666666666667 511
451.6666666666667 511
539.3333333333334 596
560.6666666666666 575
587.0 590
512.3333333333334 372
442.3333333333333 365
370.3333333333333 374
396.3333333333333 450
423.0 445
448.6666666666667 451
423.3333333333333 374
348.6666666666667 221
261.3333333333333 189
231.33333333333334 284
233.33333333333334 227
236.66666666666666 199
230.66666666666666 266
255.66666666666666 302
257.3333333333333 204
227.66666666666666 177
167.0 120
134.33333333333334 106
107.33333333333333 96
97.0 89
97.66666666666667 108
88.33333333333333 68
75.33333333333333 50
66.0 80
61.333333333333336 54
78.0 100
68.66666666666667 52
69.66666666666667 57
46.333333333333336 30
39.0 30
30.333333333333332 31
33.0 38
37.333333333333336 43
37.333333333333336 31
34.333333333333336 29
33.333333333333336 40
29.666666666666668 20
29.0 27
28.0 37
41.666666666666664 61
54.0 64
57.0 46
47.333333333333336 32
38.0 36
39.666666666666664 51
37.666666666666664 26
40.666666666666664 45
37.333333333333336 41
43.666666666666664 45
39.333333333333336 32
33.0 22
28.0 30
29.333333333333332 36
35.333333333333336 40
44.333333333333336 57
46.666666666666664 43
54.0 62
55.0 60
54.666666666666664 42
48.333333333333336 43
51.0 68
55.0 54
62.333333333333336 65
56.0 49
51.333333333333336 40
47.333333333333336 53
60.666666666666664 89
73.66666666666667 79
89.0 99
88.66666666666667 88
99.33333333333333 111
103.0 110
117.66666666666667 132
122.33333333333333 125
150.33333333333334 194
189.33333333333334 249
237.0 268
237.33333333333334 195
211.66666666666666 172
191.66666666666666 208
194.33333333333334 203
254.33333333333334 352
325.0 420
381.6666666666667 373
394.6666666666667 391
337.3333333333333 248
322.0 327
338.3333333333333 440
462.0 619
549.0 588
620.6666666666666 655
581.3333333333334 501
521.0 407
508.6666666666667 618
605.6666666666666 792
792.0 966
841.3333333333334 766
843.3333333333334 798
798.0 830
736.3333333333334 581
793.0 968
930.3333333333334 1242
1169.0 1297
1371.0 1574
1468.6666666666667 1535
1477.6666666666667 1324
1265.3333333333333 937
1165.0 1234
1173.6666666666667 1350
1354.3333333333333 1479
1474.6666666666667 1595
1532.3333333333333 1523
1534.6666666666667 1486
1281.6666666666667 836
1005.0 693
832.6666666666666 969
946.0 1176
1167.0 1356
1255.3333333333333 1234
1202.3333333333333 1017
960.3333333333334 630
850.3333333333334 904
871.3333333333334 1080
1055.3333333333333 1182
1099.3333333333333 1036
1067.6666666666667 985
920.0 739
738.3333333333334 491
647.3333333333334 712
698.6666666666666 893
824.0 867
876.6666666666666 870
860.3333333333334 844
770.6666666666666 598
622.3333333333334 425
549.0 624
546.0 589
623.0 656
609.3333333333334 583
612.3333333333334 598
542.6666666666666 447
444.3333333333333 288
416.3333333333333 514
436.3333333333333 507
576.6666666666666 709
618.3333333333334 639
663.0 641
573.0 439
448.3333333333333 265
411.6666666666667 531
446.3333333333333 543
518.0 480
530.6666666666666 569
548.6666666666666 597
545.0 469
457.6666666666667 307
366.0 322
281.6666666666667 216
338.3333333333333 477
421.0 570
561.6666666666666 638
562.0 478
470.0 294
434.3333333333333 531
465.0 570
574.6666666666666 623
576.6666666666666 537
574.6666666666666 564
498.6666666666667 395
410.0 271
387.6666666666667 497
424.3333333333333 505
541.3333333333334 622
573.6666666666666 594
628.3333333333334 669
565.0 432
458.0 273
399.6666666666667 494
438.6666666666667 549
582.0 703
629.0 635
639.0 579
557.0 457
450.3333333333333 315
416.3333333333333 477
469.3333333333333 616
567.6666666666666 610
657.0 745
691.0 718
650.3333333333334 488
535.6666666666666 401
512.6666666666666 649
591.3333333333334 724
725.6666666666666 804
765.6666666666666 769
813.6666666666666 868
747.6666666666666 606
652.0 482
652.0 868
652.3333333333334 607
841.3333333333334 1049
931.0 1137
1162.6666666666667 1302
1125.6666666666667 938
1004.0 772
996.0 1278
1195.0 1535
1478.6666666666667 1623
1620.6666666666667 1704
1683.3333333333333 1723
1616.6666666666667 1423
1364.6666666666667 948
1352.3333333333333 1686
1604.3333333333333 2179
2082.6666666666665 2383
2326.6666666666665 2418
2436.3333333333335 2508
2358.6666666666665 2150
2057.0 1513
1626.6666666666667 1217
1553.3333333333333 1930
1882.0 2499
2313.0 2510
2561.0 2674
2408.3333333333335 2041
2048.0 1429
1829.6666666666667 2019
1955.6666666666667 2419
2315.0 2507
2450.3333333333335 2425
2476.3333333333335 2497
2307.0 1999
1999.3333333333333 1502
1883.0 2148
2150.6666666666665 2802
2632.6666666666665 2948
2843.6666666666665 2781
2913.6666666666665 3012
2722.0 2373
2349.0 1662
2145.6666666666665 2402
2350.3333333333335 2987
2865.6666666666665 3208
3009.3333333333335 2833
3004.3333333333335 2972
2732.0 2391
2379.6666666666665 1776
2277.3333333333335 2665
2566.3333333333335 3258
3212.3333333333335 3714
3595.0 3813
3740.3333333333335 3694
3482.0 2939
3005.3333333333335 2383
2972.3333333333335 3595
3274.3333333333335 3845
3920.6666666666665 4322
3757.6666666666665 3106
3491.0 3045
3092.6666666666665 3127
3158.0 3302
3771.3333333333335 4885
4711.0 5946
6122.666666666667 7537
7109.0 7844
7553.0 7278
7070.666666666667 6090
6073.0 4851
5154.0 4521
5071.0 5841
5653.333333333333 6598
6393.333333333333 6741
6775.333333333333 6987
6493.0 5751
5885.0 4917
5322.666666666667 5300
5249.666666666667 5532
5498.0 5662
5332.333333333333 4803
5053.666666666667 4696
4495.333333333333 3987
3814.6666666666665 2761
3532.3333333333335 3849
3525.0 3965
3979.0 4123
3874.6666666666665 3536
3663.6666666666665 3332
3180.0 2672
2595.6666666666665 1783
2261.3333333333335 2329
2250.3333333333335 2639
2513.6666666666665 2573
2527.6666666666665 2371
2406.0 2274
2091.0 1628
1705.6666666666667 1215
1470.6666666666667 1569
1556.3333333333333 1885
1715.0 1691
1624.3333333333333 1297
1448.0 1356
1338.3333333333333 1362
1226.6666666666667 962
1209.3333333333333 1304
1236.6666666666667 1444
1429.6666666666667 1541
1422.0 1281
1350.3333333333333 1229
1180.6666666666667 1032
1000.0 739
951.3333333333334 1083
916.0 926
1028.0 1075
1020.0 1059
1114.0 1208
1087.0 994
962.3333333333334 685
855.3333333333334 887
937.6666666666666 1241
1098.6666666666667 1168
1185.0 1146
1120.6666666666667 1048
1085.3333333333333 1062
903.0 599
929.0 1126
1012.3333333333334 1312
1251.3333333333333 1316
1298.6666666666667 1268
1300.0 1316
1189.3333333333333 984
996.0 688
934.0 1130
1113.3333333333333 1522
1381.3333333333333 1492
1489.0 1453
1487.0 1516
1359.6666666666667 1110
1146.0 812
1136.3333333333333 1487
1407.6666666666667 1924
1773.6666666666667 1910
1949.0 2013
1982.6666666666667 2025
1930.3333333333333 1753
1692.6666666666667 1300
1710.0 2077
2069.3333333333335 2831
2501.0 2595
2722.3333333333335 2741
2696.3333333333335 2753
2648.3333333333335 2451
2252.6666666666665 1554
2213.3333333333335 2635
2548.3333333333335 3456
3165.3333333333335 3405
3442.6666666666665 3467
3500.6666666666665 3630
3285.0 2758
2827.3333333333335 2094
2765.3333333333335 3444
3280.0 4302
4105.333333333333 4570
4463.666666666667 4519
4603.666666666667 4722
4424.333333333333 4032
3882.3333333333335 2893
3751.0 4328
4167.0 5280
5020.0 5452
5275.333333333333 5094
5326.333333333333 5433
4987.0 4434
4390.0 3303
4231.666666666667 4958
4683.0 5788

In [11]:
df.shape

(469, 2)

In [12]:
df

            日付  PCR 検査陽性者数(単日)
0    2020/1/16               1
1    2020/1/17               0
2    2020/1/18               0
3    2020/1/19               0
4    2020/1/20               0
..         ...             ...
464  2021/4/24            5433
465  2021/4/25            4434
466  2021/4/26            3303
467  2021/4/27            4958
468  2021/4/28            5788

[469 rows x 2 columns]

トレンドや季節性がある場合など、時系列の多くは、平均が一定しません。そのように定常でない時系列を、ARMAモデルを始めとする定常性を仮定した時系列モデルで記述することはできません。差分を取ることでトレンドや季節性を除外し、定常な時系列にすることで、定常性が仮定されるモデルを使った時系列の記述が可能になります。

In [13]:
df["t-1"] = df["PCR 検査陽性者数(単日)"].shift(periods=1)
df["t-2"] = df["PCR 検査陽性者数(単日)"].shift(periods=2)
df["t-3"] = df["PCR 検査陽性者数(単日)"].shift(periods=3)

In [14]:
df.head(10)

          日付  PCR 検査陽性者数(単日)  t-1  t-2  t-3
0  2020/1/16               1  NaN  NaN  NaN
1  2020/1/17               0  1.0  NaN  NaN
2  2020/1/18               0  0.0  1.0  NaN
3  2020/1/19               0  0.0  0.0  1.0
4  2020/1/20               0  0.0  0.0  0.0
5  2020/1/21               0  0.0  0.0  0.0
6  2020/1/22               0  0.0  0.0  0.0
7  2020/1/23               0  0.0  0.0  0.0
8  2020/1/24               1  0.0  0.0  0.0
9  2020/1/25               1  1.0  0.0  0.0

In [15]:
df.tail(10)

            日付  PCR 検査陽性者数(単日)     t-1     t-2     t-3
459  2021/4/19            2893  4032.0  4722.0  4519.0
460  2021/4/20            4328  2893.0  4032.0  4722.0
461  2021/4/21            5280  4328.0  2893.0  4032.0
462  2021/4/22            5452  5280.0  4328.0  2893.0
463  2021/4/23            5094  5452.0  5280.0  4328.0
464  2021/4/24            5433  5094.0  5452.0  5280.0
465  2021/4/25            4434  5433.0  5094.0  5452.0
466  2021/4/26            3303  4434.0  5433.0  5094.0
467  2021/4/27            4958  3303.0  4434.0  5433.0
468  2021/4/28            5788  4958.0  3303.0  4434.0

In [16]:
df = df.dropna()

In [17]:
df.head(10)

           日付  PCR 検査陽性者数(単日)  t-1  t-2  t-3
3   2020/1/19               0  0.0  0.0  1.0
4   2020/1/20               0  0.0  0.0  0.0
5   2020/1/21               0  0.0  0.0  0.0
6   2020/1/22               0  0.0  0.0  0.0
7   2020/1/23               0  0.0  0.0  0.0
8   2020/1/24               1  0.0  0.0  0.0
9   2020/1/25               1  1.0  0.0  0.0
10  2020/1/26               1  1.0  1.0  0.0
11  2020/1/27               0  1.0  1.0  1.0
12  2020/1/28               3  0.0  1.0  1.0

In [18]:
df.columns = ["date", "y", "t-1", "t-2", "t-3"]

In [19]:
w = 0.2
b = 0.1

def model(x):
    pred = w * x + b
    return pred

iterrows()メソッドを使うと、1行ずつ、インデックス名（行名）とその行のデータ（pandas.Series型）のタプル(index, Series)を取得できる。

In [20]:
cnt = 0
for row in df.iterrows():
    x = row[1][["t-1", "t-2", "t-3"]].values
    y = row[1]["y"]
    pred = model(x=np.mean(x))
    print(f"x: {x}, y: {y}, pred: {pred}")

    if cnt == 100:
        break

    cnt += 1

x: [0.0 0.0 1.0], y: 0, pred: 0.16666666666666669
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 1, pred: 0.1
x: [1.0 0.0 0.0], y: 1, pred: 0.16666666666666669
x: [1.0 1.0 0.0], y: 1, pred: 0.23333333333333334
x: [1.0 1.0 1.0], y: 0, pred: 0.30000000000000004
x: [0.0 1.0 1.0], y: 3, pred: 0.23333333333333334
x: [3.0 0.0 1.0], y: 1, pred: 0.3666666666666667
x: [1.0 3.0 0.0], y: 3, pred: 0.3666666666666667
x: [3.0 1.0 3.0], y: 1, pred: 0.5666666666666668
x: [1.0 3.0 1.0], y: 0, pred: 0.43333333333333335
x: [0.0 1.0 3.0], y: 0, pred: 0.3666666666666667
x: [0.0 0.0 1.0], y: 0, pred: 0.16666666666666669
x: [0.0 0.0 0.0], y: 2, pred: 0.1
x: [2.0 0.0 0.0], y: 2, pred: 0.23333333333333334
x: [2.0 2.0 0.0], y: 0, pred: 0.3666666666666667
x: [0.0 2.0 2.0], y: 0, pred: 0.3666666666666667
x: [0.0 0.0 2.0], y: 0, pred: 0.23333333333333334
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 1, pred: 0.1
x: [1.0 0.0 0.0], y: 4, pred: 0.16666666666666669
x: [4.0 1.0 0.0], y: 7, pred: 0.43333333333333335
x: [7.0 4.0 1.0], y: 12, pred: 0.9
x: [12.0 7.0 4.0], y: 6, pred: 1.6333333333333335
x: [6.0 12.0 7.0], y: 7, pred: 1.766666666666667
x: [7.0 6.0 12.0], y: 7, pred: 1.766666666666667
x: [7.0 7.0 6.0], y: 10, pred: 1.4333333333333336
x: [10.0 7.0 7.0], y: 9, pred: 1.7000000000000002
x: [9.0 10.0 7.0], y: 11, pred: 1.8333333333333335
x: [11.0 9.0 10.0], y: 27, pred: 2.1
x: [27.0 11.0 9.0], y: 12, pred: 3.2333333333333334
x: [12.0 27.0 11.0], y: 12, pred: 3.433333333333334
x: [12.0 12.0 27.0], y: 8, pred: 3.5000000000000004
x: [8.0 12.0 12.0], y: 22, pred: 2.2333333333333334
x: [22.0 8.0 12.0], y: 24, pred: 2.9000000000000004
x: [24.0 22.0 8.0], y: 20, pred: 3.7
x: [20.0 24.0 22.0], y: 9, pred: 4.5
x: [9.0 20.0 24.0], y: 15, pred: 3.6333333333333337
x: [15.0 9.0 20.0], y: 14, pred: 3.0333333333333337
x: [14.0 15.0 9.0], y: 16, pred: 2.6333333333333333
x: [16.0 14.0 15.0], y: 33, pred: 3.1
x: [33.0 16.0 14.0], y: 31, pred: 4.3
x: [31.0 33.0 16.0], y: 59, pred: 5.433333333333334
x: [59.0 31.0 33.0], y: 47, pred: 8.3
x: [47.0 59.0 31.0], y: 33, pred: 9.233333333333333
x: [33.0 47.0 59.0], y: 26, pred: 9.366666666666667
x: [26.0 33.0 47.0], y: 54, pred: 7.166666666666667
x: [54.0 26.0 33.0], y: 52, pred: 7.633333333333333
x: [52.0 54.0 26.0], y: 55, pred: 8.9
x: [55.0 52.0 54.0], y: 40, pred: 10.833333333333334
x: [40.0 55.0 52.0], y: 62, pred: 9.9
x: [62.0 40.0 55.0], y: 33, pred: 10.566666666666668
x: [33.0 62.0 40.0], y: 15, pred: 9.1
x: [15.0 33.0 62.0], y: 44, pred: 7.433333333333333
x: [44.0 15.0 33.0], y: 39, pred: 6.233333333333333
x: [39.0 44.0 15.0], y: 36, pred: 6.633333333333333
x: [36.0 39.0 44.0], y: 53, pred: 8.033333333333333
x: [53.0 36.0 39.0], y: 34, pred: 8.633333333333333
x: [34.0 53.0 36.0], y: 42, pred: 8.3
x: [42.0 34.0 53.0], y: 38, pred: 8.7
x: [38.0 42.0 34.0], y: 65, pred: 7.7
x: [65.0 38.0 42.0], y: 93, pred: 9.766666666666667
x: [93.0 65.0 38.0], y: 96, pred: 13.166666666666666
x: [96.0 93.0 65.0], y: 104, pred: 17.033333333333335
x: [104.0 96.0 93.0], y: 194, pred: 19.633333333333336
x: [194.0 104.0 96.0], y: 185, pred: 26.36666666666667
x: [185.0 194.0 104.0], y: 74, pred: 32.300000000000004
x: [74.0 185.0 194.0], y: 218, pred: 30.300000000000004
x: [218.0 74.0 185.0], y: 224, pred: 31.900000000000002
x: [224.0 218.0 74.0], y: 253, pred: 34.5
x: [253.0 224.0 218.0], y: 337, pred: 46.43333333333334
x: [337.0 253.0 224.0], y: 370, pred: 54.36666666666667
x: [370.0 337.0 253.0], y: 386, pred: 64.1
x: [386.0 370.0 337.0], y: 270, pred: 72.96666666666665
x: [270.0 386.0 370.0], y: 377, pred: 68.5
x: [377.0 270.0 386.0], y: 550, pred: 68.96666666666665
x: [550.0 377.0 270.0], y: 572, pred: 79.9
x: [572.0 550.0 377.0], y: 708, pred: 100.03333333333333
x: [708.0 572.0 550.0], y: 676, pred: 122.1
x: [676.0 708.0 572.0], y: 571, pred: 130.5
x: [571.0 676.0 708.0], y: 333, pred: 130.43333333333334
x: [333.0 571.0 676.0], y: 511, pred: 105.43333333333332
x: [511.0 333.0 571.0], y: 511, pred: 94.43333333333334
x: [511.0 511.0 333.0], y: 596, pred: 90.43333333333334
x: [596.0 511.0 511.0], y: 575, pred: 107.96666666666667
x: [575.0 596.0 511.0], y: 590, pred: 112.23333333333332
x: [590.0 575.0 596.0], y: 372, pred: 117.5
x: [372.0 590.0 575.0], y: 365, pred: 102.56666666666668
x: [365.0 372.0 590.0], y: 374, pred: 88.56666666666666
x: [374.0 365.0 372.0], y: 450, pred: 74.16666666666666
x: [450.0 374.0 365.0], y: 445, pred: 79.36666666666666
x: [445.0 450.0 374.0], y: 451, pred: 84.7
x: [451.0 445.0 450.0], y: 374, pred: 89.83333333333334
x: [374.0 451.0 445.0], y: 221, pred: 84.76666666666667
x: [221.0 374.0 451.0], y: 189, pred: 69.83333333333333
x: [189.0 221.0 374.0], y: 284, pred: 52.36666666666667

In [21]:
print(df['y'])

3         0
4         0
5         0
6         0
7         0
       ...
464    5433
465    4434
466    3303
467    4958
468    5788
Name: y, Length: 466, dtype: int64