In [6]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('pcr_positive_daily (2).csv')

In [8]:
df

            日付  PCR 検査陽性者数(単日)  Unnamed: 2 Unnamed: 3
0    2020/1/16               1         NaN        NaN
1    2020/1/17               0         NaN        NaN
2    2020/1/18               0         NaN        NaN
3    2020/1/19               0         NaN        NaN
4    2020/1/20               0         NaN        NaN
..         ...             ...         ...        ...
464  2021/4/24            5433         NaN        NaN
465  2021/4/25            4434         NaN        NaN
466  2021/4/26            3303         NaN        NaN
467  2021/4/27            4958         NaN        NaN
468  2021/4/28            5788         NaN        NaN

[469 rows x 4 columns]

In [9]:
del df['Unnamed: 2']
del df['Unnamed: 3']

In [10]:
df.head()

          日付  PCR 検査陽性者数(単日)
0  2020/1/16               1
1  2020/1/17               0
2  2020/1/18               0
3  2020/1/19               0
4  2020/1/20               0

In [11]:
df.shape

(469, 2)

In [12]:
df

            日付  PCR 検査陽性者数(単日)
0    2020/1/16               1
1    2020/1/17               0
2    2020/1/18               0
3    2020/1/19               0
4    2020/1/20               0
..         ...             ...
464  2021/4/24            5433
465  2021/4/25            4434
466  2021/4/26            3303
467  2021/4/27            4958
468  2021/4/28            5788

[469 rows x 2 columns]

トレンドや季節性がある場合など、時系列の多くは、平均が一定しません。そのように定常でない時系列を、ARMAモデルを始めとする定常性を仮定した時系列モデルで記述することはできません。差分を取ることでトレンドや季節性を除外し、定常な時系列にすることで、定常性が仮定されるモデルを使った時系列の記述が可能になります。

In [13]:
df["t-1"] = df["PCR 検査陽性者数(単日)"].shift(periods=1)
df["t-2"] = df["PCR 検査陽性者数(単日)"].shift(periods=2)
df["t-3"] = df["PCR 検査陽性者数(単日)"].shift(periods=3)

In [14]:
df.head(10)

          日付  PCR 検査陽性者数(単日)  t-1  t-2  t-3
0  2020/1/16               1  NaN  NaN  NaN
1  2020/1/17               0  1.0  NaN  NaN
2  2020/1/18               0  0.0  1.0  NaN
3  2020/1/19               0  0.0  0.0  1.0
4  2020/1/20               0  0.0  0.0  0.0
5  2020/1/21               0  0.0  0.0  0.0
6  2020/1/22               0  0.0  0.0  0.0
7  2020/1/23               0  0.0  0.0  0.0
8  2020/1/24               1  0.0  0.0  0.0
9  2020/1/25               1  1.0  0.0  0.0

In [15]:
df.tail(10)

            日付  PCR 検査陽性者数(単日)     t-1     t-2     t-3
459  2021/4/19            2893  4032.0  4722.0  4519.0
460  2021/4/20            4328  2893.0  4032.0  4722.0
461  2021/4/21            5280  4328.0  2893.0  4032.0
462  2021/4/22            5452  5280.0  4328.0  2893.0
463  2021/4/23            5094  5452.0  5280.0  4328.0
464  2021/4/24            5433  5094.0  5452.0  5280.0
465  2021/4/25            4434  5433.0  5094.0  5452.0
466  2021/4/26            3303  4434.0  5433.0  5094.0
467  2021/4/27            4958  3303.0  4434.0  5433.0
468  2021/4/28            5788  4958.0  3303.0  4434.0

In [16]:
df = df.dropna()

In [17]:
df.head(10)

           日付  PCR 検査陽性者数(単日)  t-1  t-2  t-3
3   2020/1/19               0  0.0  0.0  1.0
4   2020/1/20               0  0.0  0.0  0.0
5   2020/1/21               0  0.0  0.0  0.0
6   2020/1/22               0  0.0  0.0  0.0
7   2020/1/23               0  0.0  0.0  0.0
8   2020/1/24               1  0.0  0.0  0.0
9   2020/1/25               1  1.0  0.0  0.0
10  2020/1/26               1  1.0  1.0  0.0
11  2020/1/27               0  1.0  1.0  1.0
12  2020/1/28               3  0.0  1.0  1.0

In [18]:
df.columns = ["date", "y", "t-1", "t-2", "t-3"]

In [19]:
w = 0.2
b = 0.1

def model(x):
    pred = w * x + b
    return pred

iterrows()メソッドを使うと、1行ずつ、インデックス名（行名）とその行のデータ（pandas.Series型）のタプル(index, Series)を取得できる。

In [20]:
cnt = 0
for row in df.iterrows():
    x = row[1][["t-1", "t-2", "t-3"]].values
    y = row[1]["y"]
    pred = model(x=np.mean(x))
    print(f"x: {x}, y: {y}, pred: {pred}")

    if cnt == 100:
        break

    cnt += 1

x: [0.0 0.0 1.0], y: 0, pred: 0.16666666666666669
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 1, pred: 0.1
x: [1.0 0.0 0.0], y: 1, pred: 0.16666666666666669
x: [1.0 1.0 0.0], y: 1, pred: 0.23333333333333334
x: [1.0 1.0 1.0], y: 0, pred: 0.30000000000000004
x: [0.0 1.0 1.0], y: 3, pred: 0.23333333333333334
x: [3.0 0.0 1.0], y: 1, pred: 0.3666666666666667
x: [1.0 3.0 0.0], y: 3, pred: 0.3666666666666667
x: [3.0 1.0 3.0], y: 1, pred: 0.5666666666666668
x: [1.0 3.0 1.0], y: 0, pred: 0.43333333333333335
x: [0.0 1.0 3.0], y: 0, pred: 0.3666666666666667
x: [0.0 0.0 1.0], y: 0, pred: 0.16666666666666669
x: [0.0 0.0 0.0], y: 2, pred: 0.1
x: [2.0 0.0 0.0], y: 2, pred: 0.23333333333333334
x: [2.0 2.0 0.0], y: 0, pred: 0.3666666666666667
x: [0.0 2.0 2.0], y: 0, pred: 0.3666666666666667
x: [0.0 0.0 2.0], y: 0, pred: 0.23333333333333334
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 0, pred: 0.1
x: [0.0 0.0 0.0], y: 1, pred: 0.1
x: [1.0 0.0 0.0], y: 4, pred: 0.16666666666666669
x: [4.0 1.0 0.0], y: 7, pred: 0.43333333333333335
x: [7.0 4.0 1.0], y: 12, pred: 0.9
x: [12.0 7.0 4.0], y: 6, pred: 1.6333333333333335
x: [6.0 12.0 7.0], y: 7, pred: 1.766666666666667
x: [7.0 6.0 12.0], y: 7, pred: 1.766666666666667
x: [7.0 7.0 6.0], y: 10, pred: 1.4333333333333336
x: [10.0 7.0 7.0], y: 9, pred: 1.7000000000000002
x: [9.0 10.0 7.0], y: 11, pred: 1.8333333333333335
x: [11.0 9.0 10.0], y: 27, pred: 2.1
x: [27.0 11.0 9.0], y: 12, pred: 3.2333333333333334
x: [12.0 27.0 11.0], y: 12, pred: 3.433333333333334
x: [12.0 12.0 27.0], y: 8, pred: 3.5000000000000004
x: [8.0 12.0 12.0], y: 22, pred: 2.2333333333333334
x: [22.0 8.0 12.0], y: 24, pred: 2.9000000000000004
x: [24.0 22.0 8.0], y: 20, pred: 3.7
x: [20.0 24.0 22.0], y: 9, pred: 4.5
x: [9.0 20.0 24.0], y: 15, pred: 3.6333333333333337
x: [15.0 9.0 20.0], y: 14, pred: 3.0333333333333337
x: [14.0 15.0 9.0], y: 16, pred: 2.6333333333333333
x: [16.0 14.0 15.0], y: 33, pred: 3.1
x: [33.0 16.0 14.0], y: 31, pred: 4.3
x: [31.0 33.0 16.0], y: 59, pred: 5.433333333333334
x: [59.0 31.0 33.0], y: 47, pred: 8.3
x: [47.0 59.0 31.0], y: 33, pred: 9.233333333333333
x: [33.0 47.0 59.0], y: 26, pred: 9.366666666666667
x: [26.0 33.0 47.0], y: 54, pred: 7.166666666666667
x: [54.0 26.0 33.0], y: 52, pred: 7.633333333333333
x: [52.0 54.0 26.0], y: 55, pred: 8.9
x: [55.0 52.0 54.0], y: 40, pred: 10.833333333333334
x: [40.0 55.0 52.0], y: 62, pred: 9.9
x: [62.0 40.0 55.0], y: 33, pred: 10.566666666666668
x: [33.0 62.0 40.0], y: 15, pred: 9.1
x: [15.0 33.0 62.0], y: 44, pred: 7.433333333333333
x: [44.0 15.0 33.0], y: 39, pred: 6.233333333333333
x: [39.0 44.0 15.0], y: 36, pred: 6.633333333333333
x: [36.0 39.0 44.0], y: 53, pred: 8.033333333333333
x: [53.0 36.0 39.0], y: 34, pred: 8.633333333333333
x: [34.0 53.0 36.0], y: 42, pred: 8.3
x: [42.0 34.0 53.0], y: 38, pred: 8.7
x: [38.0 42.0 34.0], y: 65, pred: 7.7
x: [65.0 38.0 42.0], y: 93, pred: 9.766666666666667
x: [93.0 65.0 38.0], y: 96, pred: 13.166666666666666
x: [96.0 93.0 65.0], y: 104, pred: 17.033333333333335
x: [104.0 96.0 93.0], y: 194, pred: 19.633333333333336
x: [194.0 104.0 96.0], y: 185, pred: 26.36666666666667
x: [185.0 194.0 104.0], y: 74, pred: 32.300000000000004
x: [74.0 185.0 194.0], y: 218, pred: 30.300000000000004
x: [218.0 74.0 185.0], y: 224, pred: 31.900000000000002
x: [224.0 218.0 74.0], y: 253, pred: 34.5
x: [253.0 224.0 218.0], y: 337, pred: 46.43333333333334
x: [337.0 253.0 224.0], y: 370, pred: 54.36666666666667
x: [370.0 337.0 253.0], y: 386, pred: 64.1
x: [386.0 370.0 337.0], y: 270, pred: 72.96666666666665
x: [270.0 386.0 370.0], y: 377, pred: 68.5
x: [377.0 270.0 386.0], y: 550, pred: 68.96666666666665
x: [550.0 377.0 270.0], y: 572, pred: 79.9
x: [572.0 550.0 377.0], y: 708, pred: 100.03333333333333
x: [708.0 572.0 550.0], y: 676, pred: 122.1
x: [676.0 708.0 572.0], y: 571, pred: 130.5
x: [571.0 676.0 708.0], y: 333, pred: 130.43333333333334
x: [333.0 571.0 676.0], y: 511, pred: 105.43333333333332
x: [511.0 333.0 571.0], y: 511, pred: 94.43333333333334
x: [511.0 511.0 333.0], y: 596, pred: 90.43333333333334
x: [596.0 511.0 511.0], y: 575, pred: 107.96666666666667
x: [575.0 596.0 511.0], y: 590, pred: 112.23333333333332
x: [590.0 575.0 596.0], y: 372, pred: 117.5
x: [372.0 590.0 575.0], y: 365, pred: 102.56666666666668
x: [365.0 372.0 590.0], y: 374, pred: 88.56666666666666
x: [374.0 365.0 372.0], y: 450, pred: 74.16666666666666
x: [450.0 374.0 365.0], y: 445, pred: 79.36666666666666
x: [445.0 450.0 374.0], y: 451, pred: 84.7
x: [451.0 445.0 450.0], y: 374, pred: 89.83333333333334
x: [374.0 451.0 445.0], y: 221, pred: 84.76666666666667
x: [221.0 374.0 451.0], y: 189, pred: 69.83333333333333
x: [189.0 221.0 374.0], y: 284, pred: 52.36666666666667

In [21]:
print(df['y'])

3         0
4         0
5         0
6         0
7         0
       ...
464    5433
465    4434
466    3303
467    4958
468    5788
Name: y, Length: 466, dtype: int64

In [ ]:
ss